body {
    box-sizing: border-box;
    height: 100vh;
    margin: 0;
    font-family: 'FakePearl-Regular';
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;  /* 更淺的背景顏色提供對比 */
    color: #333333;  /* 黑色文字 */

}

a {
    text-decoration: none;
    color: #007BFF;  /* 使用主要顏色 */
    transition: color 0.3s;  /* 平滑過渡 */
}

a:hover {
    color: #0056b3;  /* 當滑鼠移到連結上時的顏色 */
}

html {
    height: 100%;
    width: 100%;
}

.to_all {
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.to_all a {
    color: #777777;  /* 灰色文字 */
    writing-mode: vertical-lr;
    text-orientation: upright;
}
.side2,
.side1 {
    background-color: #fff;  /* 增加白色背景提供對比 */
    height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.side1 a {
    text-decoration: none;
    color: black;
}

.side1 a:hover {
    color: gray;
}

.mid {
    overflow-x: hidden;
    height: 100vh;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    position: relative;
    min-height: 0;
    min-width: 0;
}


.mid::-webkit-scrollbar {
    display: none;
}

.mid {
    scrollbar-width: none;
}
.mid-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; /* or any width you prefer */
}


.content div,
.content p,
.content img,
.content a,
.content ul,
.content li {
    box-sizing: border-box;
    max-width: 100%;
}

.content {
    padding: 20px;  /* 增加內部間距 */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* RWD changes */
@media (max-width: 830px) {
    .to_all {
        flex-direction: column;
        align-items: center;
    }
    
    .to_all a {
        writing-mode: horizontal-tb;
        text-orientation: mixed;
    }

    .side1,
    .side2 {
        display: none;
    }

    .mid {
        width: 100%;
    }
}
